/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.case {
    -fx-background-color: lightgray; /* Couleur de fond par défaut */
    -fx-text-fill: black; /* Couleur du texte */
}

.root {
    -fx-background-color: white;
}

.case-vide	 {
    -fx-background-color: black;
}